<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Djadoel | Admin Panel</title>
<link rel="stylesheet" th:href="@{/css/styles.min.css}" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css">
</head>


<body>
	<!--  Body Wrapper -->
	<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
		data-navbarbg="skin6" data-sidebartype="full"
		data-sidebar-position="fixed" data-header-position="fixed">

		<!-- Sidebar  -->
		<!--sidebar.html  that's here  -->
		<div th:replace="~{fragments/sidebar :: sidebar}"></div>

		<!--  Main wrapper -->
		<div class="body-wrapper">

			<!-- Header  -->
			<!--header.html  that's here  -->
			<div th:replace="~{fragments/header :: header}"></div>

			<div class="container-fluid">
				<!--  Content -->
				<div layout:fragment="content" class="row"></div>

				<!-- Footer -->
				<!--footer.html  that's here  -->
				<div th:replace="~{fragments/footer :: footer}"></div>

			</div>
		</div>
	</div>
	<script th:src="@{/libs/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/sidebarmenu.js}"></script>
	<script th:src="@{/js/app.min.js}"></script>
	<script th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
	<script th:src="@{/libs/simplebar/dist/simplebar.js}"></script>
	<script th:src="@{/js/dashboard.js}"></script>
	<script th:src="@{/js/common_all.js}"></script>
	<script th:src="@{/js/common_auth.js}"></script>
	<script
		src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>
