<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Djadoel | Users | Edit</title>
</head>

<body>
	<div layout:fragment="content" class="row">
		<div class="card">
			<div class="card-body">
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
					<li class="breadcrumb-item active" aria-current="page"><a
						th:href="@{/users}">Users</a></li>
					<li class="breadcrumb-item active" aria-current="page">Edit</li>
				</ol>
				<form th:action="@{/users/save}" th:object="${user}"
					class="form-horizontal" method="post"
					onsubmit="return checkEmailUnique(this);"
					enctype="multipart/form-data">
					<input th:field="*{id}" type="hidden" />
					<div class="mb-3">
						<label>Email :</label> <input th:field="*{email}" type="email"
							class="form-control" required="required" minlength="5"
							maxlength="128" placeholder="Email" />
					</div>
					<div class="mb-3">
						<label>First Name :</label> <input th:field="*{firstName}"
							type="text" class="form-control" required="required"
							minlength="1" maxlength="45" placeholder="First Name" />
					</div>
					<div class="mb-3">
						<label>Last Name :</label> <input th:field="*{lastName}"
							type="text" class="form-control" required="required"
							minlength="1" maxlength="45" placeholder="Last Name" />
					</div>
					<div class="mb-3">
						<label>Password :</label> <input th:if="${user.id == null}"
							th:field="*{password}" type="password" class="form-control"
							required="required" minlength="5" maxlength="50" /> <input
							th:if="${user.id != null}" th:field="*{password}" type="password"
							class="form-control" minlength="5" maxlength="50"
							placeholder="leave blank if you don't want to change password" />
					</div>
					<div class="mb-2 row pt-2">
						<label class="mb-1">Roles :</label>
						<div class="col-sm-8">
							<th:block th:each="role : ${listRoles}">
								<div class="form-check">
									<input th:text="${role.name}" th:value="${role.id}"
										th:field="*{roles}" type="checkbox" class="form-check-input" />
									<label class="form-check-label">-
										[[${role.description}]]</label>
								</div>
							</th:block>
						</div>
					</div>
					<div class="mb-2 row">
						<label class="mb-1">Enabled :</label>
						<div class="col-sm-4">
							<div class="form-check form-switch mb-3">
								<input th:field="*{enabled}" class="form-check-input"
									type="checkbox" />
							</div>
						</div>
					</div>
					<div class="mb-3">
						<label>Photos</label> <input type="hidden" th:field="*{photos}" />
						<input type="file" id="fileImage" name="image"
							accept="image/png, image/jpeg" class="form-control"> <img
							th:src="@{${user.photosImagePath}}" id="thumbnail"
							alt="thumbnail" class="img-fluid img-thumbnail" width="120"
							style="margin-top: 1%;">
					</div>
					<div class="col-sm-3"></div>
					<div class="col-sm-9">
						<div class="d-flex align-items-start gap-3">
							<input type="submit" value="Save" class="btn btn-primary"></input>
							<input type="button" value="Cancel"
								class="btn btn-light-danger text-danger" id="buttonCancel"></input>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>

<script type="text/javascript">
	$(document)
			.ready(
					function() {
						$('#buttonCancel').on("click", function() {
							window.location = "[[@{/users}]]";
						});

						$('#fileImage')
								.change(
										function() {
											var fileInput = this;
											var fileSize = fileInput.files[0].size;
											var maxSize = 1048576; // 1MB

											if (fileSize > maxSize) {
												Swal
														.fire({
															icon : "info",
															title : "Info !",
															text : "File size is too large. You must choose an image less than 1MB!",
															showCloseButton : true,
														});
												fileInput.value = ''; // clear file
											} else {
												showImageThumbnail(fileInput);
											}
										});
					});

	function showImageThumbnail(fileInput) {
		var file = fileInput.files[0];
		var reader = new FileReader();
		reader.onload = function(e) {
			$('#thumbnail').attr("src", e.target.result);
		}
		reader.readAsDataURL(file);
	}

	function checkEmailUnique(form) {
		var url = "[[@{/users/check_email}]]";
		var userEmail = $("#email").val();
		var csrfValue = $("input[name='_csrf']").val();
		var userId = $("#id").val();
		var params = {
			id : userId,
			email : userEmail,
			_csrf : csrfValue
		};
		var isResponseReceived = false; // Menandai apakah respons telah diterima
		var requestTimeout = setTimeout(function() {
			if (!isResponseReceived) {
				// Jika respons belum diterima, tampilkan pesan timeout
				Swal.fire({
					icon : "error",
					title : "Ups !",
					text : "Request timed out.",
					showCloseButton : true,
				});
			}
		}, 7000); // Timeout dalam milidetik (7 detik)

		$.post(
				url,
				params,
				function(response) {
					isResponseReceived = true; // Tandai bahwa respons telah diterima
					clearTimeout(requestTimeout); // Hapus timeout jika respons telah diterima
					if (response == "OK") {
						form.submit();
					} else if (response == "Duplicated") {
						Swal.fire({
							icon : "info",
							title : response,
							text : "There is another user having the email. "
									+ userEmail,
							customClass : {
								text : 'text-class'
							},
							showCloseButton : true,
						});
					} else {
						Swal.fire({
							icon : "error",
							title : response,
							text : "Unknown response from server.",
							showCloseButton : true,
						});
					}
				}).fail(function(response) {
			isResponseReceived = true; // Tandai bahwa respons telah diterima
			clearTimeout(requestTimeout); // Hapus timeout jika respons telah diterima
			Swal.fire({
				icon : "error",
				title : "Ups !",
				text : "An error occurred while connecting to the server.",
				showCloseButton : true,
			});
		});
		return false;
	}
</script>

<style type="text/css">
.title-class {
	font-size: 17px !important;
}
</style>
