<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/main_layout}">
<head>
<title>Djadoel | [[#{user.title}]]</title>
</head>

<body>
	<div layout:fragment="content" class="row">
		<div class="card">
			<div class="card-body">
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
					<li class="breadcrumb-item active" aria-current="page">[[#{user.breadcrumb}]]</li>
				</ol>

				<div id="file_export_wrapper" class="dataTables_wrapper">
					<div class="dt-buttons mb-3">
						<div
							th:replace="~{fragments/fragment :: buttonAdd('user', '/users/create')}"></div>
						<div
							th:replace="~{fragments/fragment :: buttonExportCsv('user', '/users/export/csv')}"></div>
						<div
							th:replace="~{fragments/fragment :: buttonExportExcel('user', '/users/export/excel')}"></div>
						<div
							th:replace="~{fragments/fragment :: buttonExportPdf('user', '/users/export/pdf')}"></div>
					</div>
				</div>

				<div class="table-responsive">
					<table id="datatable"
						class="table dt-responsive table-hover nowrap w-100">
						<thead>
							<tr>
								<th>[[#{user.id}]]</th>
								<th>[[#{user.photos}]]</th>
								<th>[[#{user.email}]]</th>
								<th>[[#{user.firstname}]]</th>
								<th>[[#{user.lastname}]]</th>
								<th>[[#{user.roles}]]</th>
								<th>[[#{user.enabled}]]</th>
								<th>[[#{user.action}]]</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user : ${listUsers}">
								<td>[[${user.id}]]</td>
								<td>
									<div
										th:replace="~{fragments/fragment :: photos(${user.photos}, ${user.photosImagePath})}"></div>
								</td>
								<td>[[${user.email}]]</td>
								<td>[[${user.firstName}]]</td>
								<td>[[${user.lastName}]]</td>
								<td>[[${user.roles}]]</td>
								<td>
									<div
										th:replace="~{fragments/fragment :: toggleStatus(${user.enabled}, 'user', '/users/' + ${user.id})}"></div>
								</td>
								<td>
									<div
										th:replace="~{fragments/fragment :: buttonEdit('user', '/users/edit/' + ${user.id})}"></div>
									&nbsp;
									<div
										th:replace="~{fragments/fragment :: buttonDelete('user', '/users/delete/' + ${user.id}, true)}"></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>

<script th:src="@{/js/common_users.js}"></script>

<script type="text/javascript">
	$(document).ready(function() {

		var addMessage = "[[${addMessage}]]";
		var updateMessage = "[[${updateMessage}]]";
		var deleteMessage = "[[${deleteMessage}]]";
		var statusMessage = "[[${statusMessage}]]";
		var infoMessage = "[[${infoMessage}]]";

		if (addMessage === "success") {
			Toast.fire({
				icon : "success",
				text : "The user has been successfully saved",
			});
		} else if (addMessage === "error") {
			Swal.fire({
				icon : "error",
				title : "Error !",
				text : "Ups! something when wrong.",
				showCloseButton : true,
			});
		} else if (updateMessage === "success") {
			Toast.fire({
				icon : "success",
				text : "The user has been successfully updated",
			});
		} else if (updateMessage === "error") {
			Swal.fire({
				icon : "error",
				title : "Error !",
				text : "Ups! something when wrong.",
				showCloseButton : true,
			});
		} else if (deleteMessage === "success") {
			Toast.fire({
				icon : "success",
				text : "The user has been successfully deleted",
			});
		} else if (statusMessage && statusMessage !== "undefined") {
			Toast.fire({
				icon : "success",
				text : statusMessage,
			});
		} else if (infoMessage && infoMessage !== "undefined") {
			Swal.fire({
				icon : "info",
				title : "Info !",
				text : infoMessage,
				showCloseButton : true,
			});
		}
	});
</script>
