<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Djadoel | Users</title>
</head>

<body>
	<div layout:fragment="content" class="row">
		<div class="card">
			<div class="card-body">
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
					<li class="breadcrumb-item active" aria-current="page">Users</li>
				</ol>
				<div id="file_export_wrapper" class="dataTables_wrapper">
					<div class="dt-buttons mb-3">
						<a th:href="@{/users/create}"
							class="dt-button btn-sm buttons-pdf buttons-html5 btn btn-secondary mr-1"
							tabindex="0" aria-controls="fil	e_export"> <i
							class="bi bi-plus"></i> <span>ADD</span>
						</a>
						<button
							class="dt-button btn-sm buttons-pdf buttons-html5 btn btn-success mr-1"
							tabindex="0" aria-controls="file_export">
							<i class="bi bi-filetype-csv"></i> <span>CSV</span>
						</button>
						<button
							class="dt-button btn-sm buttons-print btn btn-warning mr-1"
							tabindex="0" aria-controls="file_export">
							<i class="bi bi-file-earmark-excel"></i> <span>EXCEL</span>
						</button>
						<button class="dt-button btn-sm buttons-print btn btn-danger mr-1"
							tabindex="0" aria-controls="file_export">
							<i class="bi bi-file-pdf"></i> <span>PDF</span>
						</button>
					</div>
				</div>
				<div class="table-responsive">
					<table id="datatable"
						class="table dt-responsive table-hover nowrap w-100">
						<thead>
							<tr>
								<th>User ID</th>
								<th>Photos</th>
								<th>Email</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Roles</th>
								<th>Enabled</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user : ${listUsers}">
								<td>[[${user.id}]]</td>
								<td><span th:if="${user.photos == null}"
									class="bi bi-person-bounding-box" style="font-size: 25px;"></span></td>
								<td>[[${user.email}]]</td>
								<td>[[${user.firstName}]]</td>
								<td>[[${user.lastName}]]</td>
								<td>[[${user.roles}]]</td>
								<td><a th:if="${user.enabled == true}"
									class="bi bi-toggle-on" style="font-size: 25px;"> </a> <a
									th:if="${user.enabled == false}" class="bi bi-toggle-off"
									style="font-size: 25px;"> </a></td>
								<td>
									<button class="btn btn-primary btn-sm" title='Edit'>
										<i class="bi bi-pencil-square"></i> Edit
									</button>

									<button class="btn btn-danger btn-sm" title='Hapus'>
										<i class="bi bi-trash"></i> Delete
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>

<script type="text/javascript">
	// datatable
	$(document).ready(function() {
		new DataTable('#datatable', {
			responsive : true,
			rowReorder : {
				selector : 'td:nth-child(2)'
			},
			columnDefs : [ {
				targets : 1, // This targets the second column (0-based index)
				className : 'text-start' // Apply the 'text-center' class to center-align the content
			} ]
		});

		// popup message success add user
		if ("[[${swalMessage}]]" === "success") {
			Swal.fire({
				icon : "success",
				title : "Success",
				text : "The user has been successfully saved",
				showCloseButton : true,
			});
		} else if ("[[${swalMessage}]]" === "error") {
			Swal.fire({
				icon : "error",
				title : "Error",
				text : "Ups! something when wrong",
				showCloseButton : true,
			});
		}
	});
</script>
